{% extends "base_navless.html" %}
{% block title %}
Room overview
{% endblock %}

{% block content %}
<form action="{{ url_for('draftv1.admin_view') }}" method="{{ link_method }}">
    <input type="hidden" name="key" value="{{ key }}">
    <input type="hidden" name="resource" value="overview">
    <button type="submit" class="btn btn-success">Back</button>
</form>
<h1>Room {{ room_id }}</h1>

{% if 'draft_order' in room_info %}
<table class="table mb-5">
    <thead>
        <tr>
            <th scope="col">Draft order</th>
            <th scope="col">Player</th>
            <th scope="col">{{ room_info['captains'][0] }}'s choice</th>
            <th scope="col">{{ room_info['captains'][1] }}'s choice</th>
            <th scope="col">Average value</th>
        </tr>
    </thead>
    <tbody>
        {% for player in room_info['draft_order'] %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ player }}</td>
            <td>
                {% if room_info['intents'][loop.index0][0][0] is not none %}
                {{ '-' if not room_info['intents'][loop.index0][0][1] }}{{ room_info['intents'][loop.index0][0][0] }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                {% if room_info['intents'][loop.index0][1][0] is not none %}
                {{ '-' if not room_info['intents'][loop.index0][1][1] }}{{ room_info['intents'][loop.index0][1][0] }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                {% if room_info['intents'][loop.index0][0][0] is not none and room_info['intents'][loop.index0][1][0] is not none %}
                {{(
                    room_info['intents'][loop.index0][0][0] * (room_info['intents'][loop.index0][0][1] * 2 - 1) +
                    room_info['intents'][loop.index0][1][0] * (room_info['intents'][loop.index0][1][1] * 2 - 1)
                ) / 2}}
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row mb-5">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Team 1</li>
            {% for player in room_info['teams'][0] + ['-'] * (5 - room_info['teams'][0]|length) %}
            <li class="list-group-item">{{ player }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Team 2</li>
            {% for player in room_info['teams'][1] + ['-'] * (5 - room_info['teams'][1]|length) %}
            <li class="list-group-item">{{ player }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<table class="table mb-3">
    <thead>
        <tr>
            <th scope="col">Join order</th>
            <th scope="col">Player</th>
            <th scope="col">Owner</th>
            <th scope="col">Captain</th>
        </tr>
    </thead>
    <tbody>
        {% for player in room_info['order'] %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ player }}</td>
            <td>
                {{ 'Owner' if room_info['guests'][player]['owner'] else '-' }}
            </td>
            <td>
                {{ "Team %d" % (room_info['guests'][player]['captain'],) if room_info['guests'][player]['captain'] else '-' }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
