{% extends "base_plus_logo.html" %}
{% block head_extra %}
<meta name="Description" content="The LRRMM Automated Team Generation and Matchmaking platform
                                  has its roots as a solution to creating fair and fun teams
                                  for your you and your mates to play a game of LoL.">
{% endblock %}
{% block title %}
About
{% endblock %}
{% block content %}
<h1>About</h1>
<p>The final matchmaking solution.</p>
<h2>Author</h2>
<p>
    The Automated Team Generation and Matchmaking platform was written by Luke Yang and is open source.
    The theme for the home page is blue because he only likes ARAM.
    <br />
    Artwork by David Kuang.
</p>
<h2>Origins</h2>
<p>
    The website's original purpose was to help friends bridge the gap from having 10 players
    to getting in game with fair teams so that everybody could have a fun time playing League of Legends.
    <br />
    You might be wondering what "LRR" is supposed to mean. LRR stands for "League Round Robin"
    because one night some good friends managed to gather 20 people together to form 4 teams to
    play a series of games in a round-robin fashion. However ironic is the fact that this website does not
    (yet) have any functionality to draft multiple teams for round-robin systems, the name has
    stuck. Every visual element on the modern art at the bottom of the page a
    memorial to days past.
    <br />
    <i>Come, we need 1 more for 5v5s. For the old times.</i>
</p>
<h2>Open Source</h2>
<p>
    This website's code is entirely open source with the GNU General Public Licence v3.0 (GLPv3). This means
    you can do anything you want with the code, with the caveat of having to include the source code, or a
    pointer to the source code when redistributed. Changes made must be disclosed, and the licence may not
    be removed or changed.
    <br />
    You can find the code on <a href="{{ source_link }}" target="_blank" rel="noreferrer">GitHub</a>.
</p>
<h2 style="margin-bottom: -1em;"><i>GL HF GG</i></h2>
{% endblock %}
