<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header>
        <title>{% block title %}{% endblock %}</title>
        {% block header_extra_2 %}
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ favicon_url }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <style>
            :root {
                --theme-colour: {{ theme_colour }};
                --theme-colour-secondary: {{ theme_colour_secondary }};
            }
        </style>
        {% block header_extra %}
        {% endblock %}
    </header>
    <body>
        {% block navbar %}
        {% endblock %}
        {% block pre_content %}
        {% endblock %}
        <div class="container">
            <br />
            {% block content %}
            {% endblock %}
            {% block content_footer %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}
        {% block post_content %}
        {% endblock %}
    </body>
</html>
