{% extends "base_navless.html" %}
{% block header_extra_2 %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light navbar-custom bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ navbar_icon_url }}" width="60" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('mmv1.index') }}">Matchmaking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('draftv1.index') }}">Draft v1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
    </ul></div>
</nav>
{% endblock %}
