<!DOCTYPE html>
<html>
    <header>
        <title>Simple matchmaker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </header>
    <body>
        <div class="container">
            <br />
            <h1>Site is restructuring!</h1>
            <h2>Perhaps you are looking for <a href="{{ url_for('mmv1.index') }}">simple matchmaking v1</a></h2>
        </div>
    </body>
</html>
