{% extends "base.html" %}
{% block title %}
Simple matchmaker
{% endblock %}
{% block header_extra %}
<style>
    .footerimg {
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
{% endblock %}
{% block content %}
<h1>What are you looking for?</h1>
<div class="row">
    <div class="col-md-6 mb-3">
        <a href="{{ url_for('mmv1.index') }}" class="btn btn-block btn-info">Automated team generation and matchmaking</a>
    </div>
    <div class="col-md-6 mb-3">
        <a href="{{ url_for('draftv1.index') }}" class="btn btn-block btn-info">The latest in team drafting technology</a>
    </div>
</div>
<img class="footerimg" class="center" src="{{ logo_url }}">
{% endblock %}
