{% extends "base.html" %}
{% block head_extra %}
<meta name="Description" content="LRRMM (League Round Robin MatchaMaker) is the final solution to all your LoL matchmaking woes.">
{% endblock %}
{% block title %}
Advanced Matchmaking Systems
{% endblock %}
{% block header_extra %}
<style>
    .footerimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .jtron-coloured {
        background: linear-gradient(var(--theme-colour), var(--light-bg-colour));
    }
    .navbar-custom {
        background-color: var(--theme-colour)!important;
    }
    .lr-padded {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>
{% endblock %}

{% block pre_content %}
<div class="jumbotron jtron-coloured jumbotron-fluid"><div class="container">
    <div class="row">
        <div class="col-md-6"><div id="titlemaster" hidden>
            <h1 class="display-3" id="titlename">
                L<span style="font-size: 2.5rem;">eague</span>
                R<span style="font-size: 2.5rem;">ound</span>
                R<span style="font-size: 2.5rem;">obin</span>
                M<span style="font-size: 2.5rem;">atch</span>M<span style="font-size: 2.5rem;">aker</span>
            </h1>
            <p class="lead" style="margin-bottom: 2em;" id="titledescr">Matchmaking Solutions</p>
            <div class="row" style="margin-bottom: 2em;">
                <div class="col-lg-6 mb-3">
                    <a href="{{ url_for('mmv1.index') }}" class="btn btn-block btn-outline-dark">Matchmaking</a>
                </div>
                <div class="col-lg-6 mb-3">
                    <a href="{{ url_for('draftv1.index') }}" class="btn btn-block btn-outline-dark">Drafting</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-6">
            <img class="footerimg" class="center" src="{{ logo_url }}" alt="meme image">
        </div>
    </div>
</div></div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 lr-padded">
        <h1 class="font-weight-normal">Simple</h1>
        <p>
            The website was designed with ease of use in mind and made to be lightweight and to stay out of your way.
        </p>
    </div>
    <div class="col-md-4 lr-padded">
        <h1 class="font-weight-normal">Fun</h1>
        <p>
            Have fun whether you are exploring the different features of the site or just having a blast in-game.
        </p>
    </div>
    <div class="col-md-4 lr-padded">
        <h1 class="font-weight-normal">For You</h1>
        <p>
            This website was a project aimed at, constantly updated and tailored to <i>you</i>. Have any feature requests,
            ideas or issues? This project is <a href="{{ source_link }}" target="_blank" rel="noreferrer">open source</a> so you can let me know any time.
            <a href="{{ url_for('about') }}">About this site</a>.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    window.onload = function() {
        // easter eggs
        document.getElementById("titlemaster").hidden = false;
        if (Math.random() < 0.95)
            return;
        let rands = [
            ["AHRI", "Definitely an acronym!"],
            ["XAYAH", "More <del>sparkles</del> feathers!"],
            ["LUCIAN", "pew pew"],
            ["BEST MM SYSTEM", "Peak self-advertising."],
            ["LRRMM", "Got any better names?"],
            ["LoL sucks", "starcraft2.com"],
            ["uwu", "I'm not weird!"]
        ];
        let choice = rands[Math.floor(Math.random() * rands.length)];
        document.getElementById("titlename").innerHTML = choice[0];
        document.getElementById("titledescr").innerHTML = choice[1];
    }
</script>
{% endblock %}
