{% extends "respond_page_rm1.html" %}
{% block respond_page_rm2_ext %}
<h3>Compared to me,</h3>
{% for _name in bonus %}
<div class="card">
    <div class="card-header">
        {{ _name }} is...
    </div>
    <div class="card-body">
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="row">
                <div class="col-md-4">
                    <label class="btn btn-block btn-outline-danger">
                        <input type="radio" name="rate{{ loop.index - 1 }}" id="option1" value="worse" autocomplete="off"> Worse
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="btn btn-block btn-outline-info">
                        <input type="radio" name="rate{{ loop.index - 1 }}" id="option2" value="unsure" autocomplete="off" checked> Equal
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="btn btn-block btn-outline-success">
                        <input type="radio" name="rate{{ loop.index - 1 }}" id="option3" value="better" autocomplete="off"> Better
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endfor %}
{% endblock %}
{% block scripts %}
{% endblock %}