{% extends "base.html" %}
{% block title %}
Create room
{% endblock %}
{% block content %}
<a class="btn btn-large btn-danger" href="{{ url_for('mmv1.index') }}">Back</a>
<h1>Specify player names:</h1>
<div class="alert alert-danger" role="alert" id="error" hidden>Please make sure all fields are filled and there are no repeated names.</div>
<form action="" method="POST" id="main_form">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mm_mode" id="mm_mode_1" value="friend" checked>
        <label class="form-check-label" for="mm_mode_1">Match based on friend preferences</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mm_mode" id="mm_mode_2" value="role">
        <label class="form-check-label" for="mm_mode_2">Match based on role preferences</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mm_mode" id="mm_mode_3" value="rolev2">
        <label class="form-check-label" for="mm_mode_3">Match based on role preferences version 2 (recommended)</label>
    </div>
    <br />
</form>
<button class="btn btn-block btn-info" id="create_button" onclick="Create()">Create</button>
{% endblock %}
{% block footer %}
<script>
    window.onload = function() {
        let group = document.getElementById("main_form");
        for (let i = 1; i < 11; i++) {
            let input_field = document.createElement("input");
            input_field.setAttribute("placeholder", "Player " + i);
            input_field.setAttribute("type", "text");
            input_field.setAttribute("class", "form-control");
            input_field.setAttribute("id", "player" + i);
            input_field.setAttribute("name", "p" + i);
            group.appendChild(input_field);
            group.appendChild(document.createElement("br"));
        }
    }
    function Create() {
        let names = [];
        document.getElementById("error").hidden = true;
        for (let i = 1; i < 11; i++) {
            let name = document.getElementById("player" + i).value.trim();
            if (name == "" || names.includes(name)) {
                document.getElementById("error").hidden = false;
                return false;
            }
            names.push(name);
        }
        document.getElementById("main_form").submit();
    }
</script>
{% endblock %}
