<!DOCTYPE html>
<html>
    <header>
        <title>Room {{ room_id }} quick response</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </header>
    <body>
        <div class="container">
            <br />
            <h1>Just click on your name</h1>
            {% for response_id, player in info['response_ids'].items() %}
            <a href="{{ url_for('mmv1.respond_page', response_id=response_id) }}">{{ player }}</a> <br />
            {% endfor %}
            <br />
        </div>
    </body>
</html>
