<!DOCTYPE html>
<html>
    <header>
        <title>Simple matchmaker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <style>
            .footerimg {
                margin-top: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    </header>
    <body>
        <div class="container">
            <br />
            <h1>Simple matchmaker</h1>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ url_for('mmv1.create_prompt') }}" class="btn btn-block btn-info">Create</a>
                </div>
                <br /><br />
                <div class="col-md-6">
                    <a href="{{ url_for('mmv1.respond_prompt') }}" class="btn btn-block btn-primary">Respond</a>
                </div>
            </div>
            <img class="footerimg" class="center" src="{{ logo_url }}">
        </div>
    </body>
</html>
