{% extends "base.html" %}
{% block title %}
Access response
{% endblock %}
{% block content %}
<a class="btn btn-large btn-danger" href="{{ url_for('mmv1.index') }}">Back</a>
{% if error %}
<br /><br />
    <div class="alert alert-danger" role="alert" id="error">{{ error }}</div>
{% endif %}
<h1>Access response</h1>
<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Response ID" id="response_id" />
            <div class="input-group-append">
                <button class="btn btn-outline-success" onclick="Submit()">Go</button>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}
{% block footer %}
<script>
    function Submit() {
        let id = document.getElementById("response_id").value;
        if (id === "")
            return false;
        location.href = "{{ url_for('mmv1.respond_page', response_id='') }}" + id;
    }

    window.onload = function () {
        document.getElementById("response_id").addEventListener("keydown", ({key}) => {
            if (key === "Enter") {
                event.preventDefault();
                Submit();
            }
        })
    }
</script>
{% endblock %}
