{% extends "base_plus_logo.html" %}
{% block head_extra %}
<meta name="Description" content="The simple matchmaking solution focuses on generating the ideal
                                  teams given the information provided by the players.">
{% endblock %}
{% block title %}
Simple matchmaker
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Simple matchmaker</h1>
    <p class="lead" style="margin-bottom: 2em;">Fine, I'll make the teams for you</p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('mmv1.create_prompt') }}" class="btn btn-block btn-info">Create</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('mmv1.respond_prompt') }}" class="btn btn-block btn-primary">Respond</a>
        </div>
    </div>
</div>
<h1 class="font-weight-normal">How it works</h1>
<p>
    After creating a room with 10 players, either individually share the response code with the intended
    recipient, or share all the codes in a group setting (but only do this if you trust your friends!).
    <br />
    After all participants have filled in their responses, you can start generating teams.
</p>
{% endblock %}
