{% extends "base_plus_logo.html" %}
{% block title %}
Simple matchmaker
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Simple matchmaker</h1>
    <p class="lead" style="margin-bottom: 2em;">Fine, I'll make the teams for you</p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('mmv1.create_prompt') }}" class="btn btn-block btn-info">Create</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('mmv1.respond_prompt') }}" class="btn btn-block btn-primary">Respond</a>
        </div>
    </div>
</div>
{% endblock %}
