<!DOCTYPE html>
<html>
    <header>
        <title>Create room</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </header>
    <body>
        <div class="container" id="main_container">
            <br />
            <a class="btn btn-large btn-danger" href="/">Back</a>
            <h1>Specify player names:</h1>
            <div class="alert alert-danger" role="alert" id="error" hidden>Please make sure all fields are filled and there are no repeated names, and that the "," character is not included in any of the names.</div>
            <button class="btn btn-block btn-info" id="create_button" onclick="Create()" hidden>Create</button>
        </div>
        <script>
            window.onload = function() {
                let cont = document.getElementById("main_container");
                for (let i = 1; i < 11; i++) {
                    let input_field = document.createElement("input");
                    input_field.setAttribute("placeholder", "Player " + i);
                    input_field.setAttribute("type", "text");
                    input_field.setAttribute("class", "form-control");
                    input_field.setAttribute("id", "player" + i)
                    cont.appendChild(input_field);
                    cont.appendChild(document.createElement("br"));
                }
                let create_btn = document.getElementById("create_button");
                cont.appendChild(create_btn);
                create_btn.hidden = false;
            }

            function Create() {
                let names = [];
                document.getElementById("error").hidden = true;
                for (let i = 1; i < 11; i++) {
                    let name = document.getElementById("player" + i).value;
                    if (name == "" || names.includes(name) || name.includes(",")) {
                        document.getElementById("error").hidden = false;
                        return;
                    }
                    names.push(name);
                }
                window.location = "/create/" + btoa(names.join());
            }
        </script>
    </body>
</html>
