<!DOCTYPE html>
<html>
    <header>
        <title>Respond</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </header>
    <body>
        <div class="container">
            <h1>Hi, {{ name }}</h1>
            <h3>Put bigger numbers for people you like.</h3>
            <p>Values will be normalised when they are processed. Positive integers only. Invalid inputs are counted as 0.</p>
            <form action="" method="POST">
                {% for player in others %}
                    <div class="form-group">
                        <label for="p{{ loop.index }}">{{ player }}</label>
                        <input type="number" class="form-control" id="p{{ loop.index }}" name="p{{ loop.index }}">
                    </div>
                {% endfor %}
                <button class="btn btn-success btn-block" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
