<!DOCTYPE html>
<html>
    <header>
        <title>Room {{ room_id }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    </header>
    <body>
        <div class="container">
            <br />
            <button class="btn btn-info" onclick="location.reload(); return false;">Refresh</button>
            <br /><br />
            <p>Share the response IDs with the respective person. They can fill in their response by going to the <a href="/">home</a> page and
            pressing <a href="/respond">Respond</a> before entering their response ID. Alternatively, you may opt to share this this
            <a href="/room/{{ room_id }}/quickrespond">easy response page</a> or use the below button to copy all the names and response ids to
            your clipboard which you may then paste into Discord or something.</p>
            <p>Manually refresh the page periodically using the refresh button or by clicking <a href="">here</a>. Once all responses have been
            completed, the option to generate teams will be revealed.</p>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-info" onclick="CopyTextToClipboard(cpinfo)">Copy information to clipboard</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-info" onclick="CopyTextToClipboard(cplink)">Copy easy response link to clipboard</button>
                </div>
            </div>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Response ID</th>
                        <th scope="col">Responded</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response_id, player in info['response_ids'].items() %}
                    <tr>
                        <th scope="row">{{ player }}</th>
                        <td>{{ response_id }}</td>
                        {% if not info['player_info'][player] %}
                        <td>No</td>
                        {% else %}
                        <td>Yes</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            {% if all_ready %}
            <button type="button" class="btn btn-success" onclick="RequestSuggestion()">Get teams</button>
            {% endif %}
            <div id="teams" hidden>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item active">Team 1</li>
                            <li class="list-group-item">[TOP] <span id="team1_1"></span></li>
                            <li class="list-group-item">[JG] <span id="team1_2"></span></li>
                            <li class="list-group-item">[MID] <span id="team1_3"></span></li>
                            <li class="list-group-item">[ADC] <span id="team1_4"></span></li>
                            <li class="list-group-item">[SUP] <span id="team1_5"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item active">Team 2</li>
                            <li class="list-group-item">[TOP] <span id="team2_1"></span></li>
                            <li class="list-group-item">[JG] <span id="team2_2"></span></li>
                            <li class="list-group-item">[MID] <span id="team2_3"></span></li>
                            <li class="list-group-item">[ADC] <span id="team2_4"></span></li>
                            <li class="list-group-item">[SUP] <span id="team2_5"></span></li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
            <textarea id="copytext" class="form-control" hidden></textarea>
        </div>
        <script>
            var cpinfo = "```\n{{ copy_info }}\n```";
            var cplink = location.href + "/quickrespond";

            function CopyTextToClipboard(t) {
                let tmp = document.getElementById("copytext");
                tmp.value = t;
                tmp.hidden = false;
                tmp.select();
                document.execCommand("copy");
                tmp.hidden = true;
            }
            
            function RequestSuggestion() {
                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let res = JSON.parse(this.responseText);
                        if (res.success !== true) {
                            return;
                        }
                        for (let i = 0; i < 5; i++) {
                            document.getElementById("team1_" + (i + 1)).innerHTML = res.team1[i];
                            document.getElementById("team2_" + (i + 1)).innerHTML = res.team2[i];
                        }
                        document.getElementById("teams").hidden = false;
                    }
                }
                xhttp.open("GET", "/api/suggest/{{ room_id }}", true);
                xhttp.send();
            }
        </script>
    </body>
</html>
